<% entries.each do |entry| %>
  <p class="leader">
    <a href="<%= entry.link %>"><%= entry.name %></a> - <span class="author"><%=h entry.author %></span>
  </p>
  <p>
    <%=h entry.tldr %>
  </p>
  <p>
    <%=h entry.desc %>
  </p>
<% end %>
